

.Pokecard{
 border-radius:7%;
 width: 200px;
background-color: rgba(237, 255, 118, 0.266);
 border: .5px black solid;
 flex-direction: column;
 display: flex;
 justify-content:center;
 text-align: center;
 padding: 10px;
margin: 10px;
box-shadow: 7px 10px 12px -5px rgb(0, 0, 0);
 
}

.pokedex{
    display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.h1{
    text-align: center;
}

.Winner{
    color: white;
    background-color: rgb(0, 128, 0);
    height: fit-content;
    text-align: center;
    max-width: fit-content;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
}
.Loser{
    color: white;
    background-color: red;
    height: fit-content;
    text-align: center;
    max-width: fit-content;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
}

p{
    text-align: center;
}

.Pokecard{
    border-radius:7%;
    width: 200px;
   background-color: rgba(237, 255, 118, 0.266);
    border: .5px black solid;
    flex-direction: column;
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 10px;
   margin: 10px;
   box-shadow: 7px 10px 12px -5px rgb(0, 0, 0);
    }

    .Pokecard img:hover{
        transform: scale(1.25);
        transition: .5s;
    }